@import "foundation/all";

.dse-select {
  display: flex;
  flex-direction: column;

  position: relative;

  &__caret {
    transition: all 250ms ease;

    &--open {
      transform: rotate(180deg);
    }

    &--closed {
      transform: rotate(0deg);
    }
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include padding('xs');

    border: 1px solid $form-border-color;
    background: $form-bg;

    font-family: $body-font-family;

    cursor: pointer;
  }


  &__overlay {
    @include padding('none');
    @include margin('none');

    border: 1px solid $form-border-color;
    background-color: $form-bg;
    z-index: 99;

    position: absolute;
    width: 100%;

    box-shadow: map-get($shadows, 'base');

    list-style: none;
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    @include padding('xs');
    box-sizing: border-box;

    &--highlighted {
      background-color: $form-bg-hover;
    }
  }

  &__option--selected {
    background-color: $form-bg-option-selected;
    color: $form-color-option-selected;
  }

}
